<?xml version="1.0" encoding="utf-8"?>
<root>
	<!-- 类型配置 -->
	<type value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15"/>
	
	<rect id="1" w="10" h="10"/>
	<rect id="2" w="20" h="20"/>
	<rect id="3" w="30" h="30"/>
	<rect id="4" w="40" h="40"/>
	<rect id="5" w="50" h="50"/>
	<rect id="6" w="10" h="20"/>
	<rect id="7" w="10" h="30"/>
	<rect id="8" w="10" h="40"/>
	<rect id="9" w="10" h="50"/>
	<rect id="10" w="20" h="30"/>
	<rect id="11" w="30" h="40"/>
	<rect id="12" w="40" h="50"/>
	<rect id="13" w="30" h="40"/>
	<rect id="14" w="30" h="50"/>
	<rect id="15" w="40" h="50"/>
	
	<!-- 图片配置 注意宽高不是图片实际宽高，是取-->
	<picture id="1" type="1" rect="1"/>
	<picture id="2" type="2" rect="2"/>
	<picture id="3" type="3" rect="3"/>
	<picture id="4" type="4" rect="4"/>
	<picture id="5" type="5" rect="5"/>
	<picture id="6" type="6" rect="6"/>
	<picture id="7" type="7" rect="7"/>
	<picture id="8" type="8" rect="8"/>
	<picture id="9" type="9" rect="9"/>
	<picture id="10" type="10" rect="10"/>
	<picture id="11" type="11" rect="11"/>
	<picture id="12" type="12" rect="12"/>
	<picture id="13" type="13" rect="13"/>
	<picture id="14" type="14" rect="14"/>
	<picture id="15" type="15" rect="15"/>
	<picture id="16" type="1,2" rect="1"/>
	<picture id="17" type="2,3" rect="2"/>
	<picture id="18" type="3,4" rect="3"/>
	<picture id="19" type="4,5" rect="4"/>
	<picture id="20" type="5,6" rect="5"/>
	<picture id="21" type="6,7" rect="6"/>
	<picture id="22" type="7,8" rect="7"/>
	<picture id="23" type="8,9" rect="8"/>
	<picture id="24" type="9,10" rect="9"/>
	<picture id="25" type="10,11" rect="10"/>
	<picture id="26" type="11,12" rect="11"/>
	<picture id="27" type="12,13" rect="12"/>
	<picture id="28" type="13,14" rect="13"/>
	<picture id="29" type="14,15" rect="14"/>
	<picture id="30" type="15,1" rect="15"/>
</root>